.card {
  width: 100%;
  background-image: url(../assets/card-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  container-type: inline-size;
  aspect-ratio: 63 / 88;
}

.name {
  font-size: 1.5em;
  line-height: 1em;
  color: white;
  text-align: center;
}

.type {
  font-size: 1em;
  color: white;
}

.icon {
  width: auto;
  height: 1.1em;
  transform: translateY(0.1em);
  margin-top: -0.1em;
  margin-bottom: -0.1em;
}

.upper-container {
  display: grid;
  flex: 1;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  width: 100%;
  height: 60%;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 5%;
  font-size: 6cqw;
}

.middle-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 7cqw;
}

.right-column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.core-icon {
  margin: -10px -5px -5px -10px;
}

.lower-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  height: auto;
  position: relative;
  font-size: 6.9cqw;
  align-items: center;
  line-height: 1em;
}

.ability {
  background: #cfbe9fae;
  padding: 0.2em;
  padding-right: 0;
  border: 1px solid white;
  border-radius: 4px;
  margin-left: -15%;
  padding-left: 15%;
  height: fit-content;
  min-height: 14cqw;
  display: flex;
  align-items: center;
}

.worker {
  height: auto;
  width: 100%;
  z-index: 1;
  margin: auto;
}

.condition {
  display: flex;
  height: 6%;
  border: 1px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -10px;
  padding-left: 10px;
  margin-right: -10%;
  padding-right: 10%;
  background-color: #00000022;
}

.condition-icon {
  height: 200%;
  transform: translateY(-25%);
}

.star-icon {
  height: 140%;
  transform: translateY(-20%) translateX(-10%);
}

.meld-icon {
  height: 160%;
  transform: translateY(-18%) translateX(-10%);

}

.benefit {
  margin-top: auto;
  margin-bottom: -5cqh;
  padding-bottom: 5cqh;
  background: #cfbe9fae;
  border: 1px solid white;
  border-radius: 4px;
  align-items: center;
  text-align: center;
}

.coin-wrapper {
  position: absolute;
  right: -0.2em;
  bottom: -0.5em;
}

.coin-icon {
  height: 10cqw;
  border: 1px solid white;
  border-radius: 100%;
}

.coin-value {
  position: absolute;
  right: 4cqw;
  bottom: 3cqw;
  color: white;
  -webkit-text-stroke: 0.025em black;
  font-size: 1.1em;
}

.meld {
  writing-mode: vertical-lr;
  rotate: 180deg;
  height: 103cqw;
  margin-left: auto;
  margin-right: calc(11% - 10px);
  font-size: 7cqw;
}

.quest-icons {
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: center;
  flex: 1;
  background-image: linear-gradient(#ffffffaa, #ffffff00);
  width: 5cqw;
  margin-left: auto;
  margin-right: 3cqw;
}

.quest-icon {
  min-width: 6.5cqw;
  min-height: 6.5cqw;
  max-width: 13cqw;
  max-height: 9.5cqw;
}

.quest-location-icon {
  width: 13cqw;
  margin-top: -0.5em;
}

.location {
  background: #ffffffaa;
  aspect-ratio: 1/1;
  width: 20cqw;
  margin-left: auto;
  margin-right: -5px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15cqw;
  border: #000000 1px solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.type-icon {
  margin: -10px -10px 10px 10px;
}

.type-icon-quest {
  margin: -10px -10px 0 10px;
  padding: 5px;
}

.meteorite-bar {
  position: absolute;
  width: 100%;
  left: 0.7em;
  top: -0.5em;
}

.card-id {
  position: absolute;
  bottom: -2cqw;
  left: 10cqw;
  font-size: 0.7em;
  color: white;
  z-index: 2;
}