.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #00000028;
    color: white;
    font-size: 1.2em;
}

input::placeholder {
    color: rgb(226, 226, 226);
}

.cards-container {
    display: grid;
    padding: 0 30px;
    grid-template-columns: repeat(auto-fill, minmax(max(210px, 15%), 1fr));
    justify-items: center;
    justify-content: space-between;
    gap: max(min(60px, 3vw), 30px);
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 700px) {
    .search-container {
        min-height: 30vh;
    }

    .cards-container {
        padding: 0 100px;
    }
}

