body {
  margin: 0;
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(assets/background.jpg);
  background-attachment: fixed;
  background-position: center calc(50% - 90px);
  background-repeat: no-repeat;
  background-size: max(103vw, 130vh);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
